{% extends 'main/layout.html' %}

{% block title %}Fullstack About{% endblock%}

{% block content %}
    <div class="descr">
    <h1>Fullstack developer</h1>


    <p>Fullstack разработка относится к практике разработки как клиентской, так и серверной части приложения.
        Внешний интерфейс, также известный как клиентская сторона, отвечает за пользовательский интерфейс и взаимодействие с пользователем. Обычно это разрабатывается с использованием таких языков, как HTML, CSS и JavaScript, и фреймворков, таких как React, Angular и Vue.js.
        Cерверная часть, также известная как серверная часть, отвечает за логику приложения и управление данными. Обычно это разрабатывается с использованием таких языков, как Python, Java, Ruby и PHP, и сред, таких как Express, Django и Ruby on Rails.
        Fullstack разработчик должен иметь знания и опыт как в интерфейсных, так и в внутренних технологиях, а также общее понимание того, как различные уровни приложения взаимодействуют друг с другом.
        Кроме того, Fullstack разработчик должен быть знаком с различными системами управления базами данных, такими как MySQL, MongoDB, и инструментами управления, такими как Git, Jenkins, Agile, Scrum.
        Таким образом, Fullstack разработчик — это программист, который знаком со всеми уровнями процесса разработки программного обеспечения и может справиться со всеми аспектами разработки, от проектирования пользовательских интерфейсов до создания и обслуживания серверов и обеспечения бесперебойной работы приложения.
    </p>
        <img src="static/main/img/fullstack.png">
    </div>
{% endblock %}